@model BaiTapLon.Areas.Admin.Models.HoaDon

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết đơn hàng</h2>
<br />

<div>

    <hr />
    <dl class="dl-horizontal">





       @ViewBag.tk










        <dt>
            @Html.DisplayNameFor(model => model.Trangthai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trangthai)
        </dd>

    </dl>
</div>
<br />
<p>
    <button>
        @Html.ActionLink("Sửa tình trạng", "Edit", new { id = Model.Mahoadon.Trim() }) </button> |  
   <button>@Html.ActionLink("Quay lại", "Index")</button>
</p>
