<style>
    .shop-menu {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
</style>

<div class="header_top">
    <!--header_top-->
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="contactinfo">
                    
                    <ul class="nav nav-pills">
                        <li>
                            <a href="@Url.Action("Index","Home")"><i class="fa fa-phone"></i> +2 95 01 88 821</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Home")"><i class="fa fa-envelope"></i> info@domain.com</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="social-icons pull-right">
                    
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/header_top-->

<div class="header-middle">
    <!--header-middle-->
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="shop-menu pull-right">
                    <a href="@Url.Action("Index","Home")">
                        <img src="~/wwwroot/images/home/logo.png" style="width:100px" />
                    </a>
                    <ul class="nav navbar-nav">
                        @if (Session["Hoten"] != null)
                        {
                            <li>
                                <a href="@Url.Action("Index","TaiKhoans", new { id = Session["Mataikhoan"] })"><i class="fa fa-user"></i> @Session["Hoten"]</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","GioHangs", new { userId = Session["Mataikhoan"]})"><i class="fa fa-shopping-cart"></i> Giỏ hàng</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","HoaDons", new { userId = Session["Mataikhoan"]})"><i class="fa fa-shopping-cart"></i> Đơn hàng</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Logout","Home")"><i class="fa fa-lock"></i> Đăng xuất</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="@Url.Action("Login","Home")"><i class="fa fa-lock"></i> Đăng nhập</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/header-middle-->

<div class="header-bottom">
    <!--header-bottom-->
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="mainmenu pull-left">
                    <ul class="nav navbar-nav collapse navbar-collapse">
                        
                        
                        <li><a href="@Url.Action("Index","Home")" class="active">Trang chủ</a></li>

                        <li><a href="#">Liên hệ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="search_box pull-right">
                    @using (Html.BeginForm("Index", "Home"))
                    {
                        <p>
                            @Html.TextBox("SearchString",null, new { @placeholder="Tìm kiếm"})
                        </p>
                    }
                  
                </div>
            </div>
        </div>
    </div>
</div>
