@model BaiTapLon.Models.SanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết sản phẩm</h2>
<br />

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoaiSanPham.Tenloai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiSanPham.Tenloai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tensanpham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tensanpham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kichthuoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kichthuoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chatlieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chatlieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dongia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dongia)
        </dd>

        <dd>
            @{
                //Lấy đường dẫn file ảnh
                string ImagePath = "~/Areas/Admin/wwwroot/Images/" + Model.Anh;
            }
            <img src="@Url.Content(ImagePath)" width="300" class="img-thumbnail" />
            <br />
            @Html.HiddenFor(model => model.Anh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soluongton)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluongton)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>

    </dl>
</div>
<br />
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.Masanpham }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
