@{
    ViewBag.Title = "Trang chủ";
}

<section id="slider">
    <!--slider-->
    @{
        Html.RenderPartial("_Slider");
    }
    <!--/slider-->
</section>

<div class="row">
    <div class="col-sm-3">
        <div class="left-sidebar">
            <h2>Danh mục</h2>
            <div class="panel-group category-products" id="accordian">
                <!--category-productsr-->
                @foreach(var item in ViewBag.Category)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="@Url.Action("index","DanhMucs", new {id = item.Maloai})">@item.Tenloai</a>
                            </h4>
                        </div>
                    </div>

                }
                <!--/category-products-->
            </div>

            <div class="price-range">
                <!--price-range-->
                <h2>Khoảng giá</h2>
                <div class="well text-center">
                    <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5"
                           data-slider-value="[250,450]" id="sl2" /><br />
                    <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
                </div>
            </div>
            <!--/price-range-->
        </div>
    </div>
    <div class="col-sm-9">
        <h2 class="title text-center">Sản phẩm HOT</h2>
    </div>
    <div class="col-sm-9 padding-right">

        <div class="features_items">
            <!--features_items-->
            <!-- start_items -->
            @foreach (var item in ViewBag.Product)
            {
                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <a href="@Url.Action("Details","SanPhams", new {id = item.Masanpham})">
                                <div class="productinfo text-center">
                                    @{
                                        string path_img = "~/wwwroot/images/product/" + item.Anh;
                                    }
                                    <img src="@Url.Content(path_img)" />
                                    <h2>@item.Dongia</h2>
                                    <p>@item.Tensanpham</p>
                                    @if (Session["Mataikhoan"] != null)
                                    {
                                        
                                        <a href="@Url.Action("AddGioHang","GioHangs",  new { masp = item.Masanpham })"
                                           class="btn btn-default add-to-cart">
                                            <i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Login","Home")" class="btn btn-default add-to-cart">
                                            <i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng
                                        </a>
                                    }
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            }

            <!-- end_items -->
        </div>
        <!--features_items-->
        
    </div>
</div>
