@model BaiTapLon.Models.TaiKhoan
@{
    ViewBag.Title = "Login";
}

<!--form-->
<section id="form">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form">
                    <!--login form-->
                    <h2>Đăng nhập</h2>
                    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Tendangnhap, "", new { @class = "form-control", @placeholder = "Tên đăng nhập" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Matkhau, "", new { @class = "form-control", @placeholder = "Mật Khẩu", @type = "password" })
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-primary" value="Đăng nhập" />
                        </div>
                    }
                </div>
                <!--/login form-->
            </div>
            <div class="col-sm-1">
                <h2 class="or">Hoặc</h2>
            </div>
            <div class="col-sm-4">
                <div class="signup-form">
                    <!--sign up form-->
                    <h2>Tạo tài khoản mới</h2>
                    @using (Html.BeginForm("Register", "Home", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Hoten, "", new { @class = "form-control", @placeholder = "Họ tên", @required = "required" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Tendangnhap, "", new { @class = "form-control", @placeholder = "Tên đăng nhập", @required = "required" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", @placeholder = "Email", @required = "required" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Sodienthoai, "", new { @class = "form-control", @placeholder = "Số điện thoại", @required = "required" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Matkhau, "", new { @class = "form-control", @placeholder = "Mật Khẩu", @type = "password", @required = "required" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Diachi, "", new { @class = "form-control", @placeholder = "Địa chỉ", @required = "required" })
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-primary" value="Đăng ký" />
                        </div>
                    }
                </div>
                <!--/sign up form-->
            </div>
        </div>
    </div>
</section>
<!--/form-->
@if (!string.IsNullOrEmpty(ViewBag.error))
{
    <script type="text/javascript">
        alert("@ViewBag.error");
    </script>
}