@model BaiTapLon.Models.SanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .product-information p{
        color: #000;
        font-weight: 700;
    }
    .product-information span{
        font-weight:500;
    }
</style>
<div class="row">
    <div class="col-sm-3">
        <div class="left-sidebar">
            <h2>Danh mục</h2>
            <div class="panel-group category-products" id="accordian">
                <!--category-productsr-->
                @foreach (var item in ViewBag.Category)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a href="/">@item.Tenloai</a>
                            </h3>
                        </div>
                    </div>

                }
                 <!--/category-products-->
            </div>
        </div>
    </div>

    <div class="col-sm-9 padding-right">
        <div class="product-details">
            <!--product-details-->
            <div class="col-sm-5">
                <div class="view-product">
                    @{
                        string path = "~/wwwroot/images/product/" + Model.Anh;
                    }
                    <img src="@Url.Content(path)" />
                </div>
            </div>
            <div class="col-sm-7">
                <div class="product-information">
                    <!--/product-information-->
                    <img src="images/product-details/new.jpg" class="newarrival" alt="" />
                    <h3 style="font-weight:700; font-size: 30px; color:orangered">
                         @Html.DisplayFor(model => model.Tensanpham)
                    </h3>
                    <p>
                        Kích thước: <span> @Html.DisplayFor(model => model.Kichthuoc)</span>
                    </p>
                    <p>
                        Chất liệu: <span> @Html.DisplayFor(model => model.Chatlieu)</span>
                    </p>
                        <p> Giá:<span> @Model.Dongia.ToString("C")</span></p>
                    <div>
                        <div style="float: left;">
                            <p>
                                Số lượng:

                                <input type="text" value="1" style="width: 50px; text-align:center" />
                            </p>
                            </div>
                    </div>
                    <br />
                    <br />
                    <br />
                    <div>
                        @if (Session["Mataikhoan"] != null)
                        {

                            <a href="@Url.Action("AddGioHang","GioHangs",  new { masp = Model.Masanpham })"
                               class="btn btn-default add-to-cart">
                                <i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("Login","Home")" class="btn btn-default add-to-cart">
                                <i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng
                            </a>
                        }
                    </div>
                    <a href="">
                        <img src="~/wwwroot/images/product-details/share.png" class="share img-responsive" alt="" />
                    </a>
                </div>
                <!--/product-information-->
            </div>
        </div>
        <!--/product-details-->

        <div class="category-tab shop-details-tab">
            <!--category-tab-->
            <div class="tab-content">

                <div class="tab-pane fade active in" id="reviews">
                    <div class="col-sm-12">
                        <div class="std">
                            <h3 style="color:orangered">Thông tin chi tiết</h3>
                            <br />
                            <p>
                                @Html.DisplayFor(model => model.Mota)
                            </p>
                    </div>
                </div>
            </div>
        </div>
        <!--/category-tab-->

        
    </div>
</div>
